html, body, .mapparent {
  height: 100%;
}

#map {
  height: 100%;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.sortable {
  padding-top: 20px;
}

