@import url('http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800');
@import url('http://fonts.googleapis.com/css?family=Lato:300|Grand+Hotel|Droid+Serif');
/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar-brand {
  padding-left:40px;
  padding-right:110px;
}

.pull-right {
  padding-right:40px;
}

html, body {
  height: 100%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer, .push {
  height: 4em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

h1, h2, h3, h4 {
  font-family: 'Droid Serif', serif;
}

.page-header {
  font-family: 'Droid Serif', serif;
  margin:30px;
  font-size:50pt;
}

.panel-title {
  font-size:22pt;
  font-family: 'Droid Serif', serif;
}

ul.manageli {
  list-style-type:none;
  font-size:15pt;
}

a.navbar-brand {
  font-family: 'Grand Hotel', cursive;
  font-size: 26pt;
  color:darkturquoise !important;
  padding-top:17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

div > div:only-child > form:only-child > button[type="submit"] {
  /* clear any floating implemented by the Twitter Bootstrap framework; you may
     want to use the legacy clearfix method to make this work on all browsers */
  clear: both;

  /* redeclare the button as a block element */
  display: block;

  /* set a width (less than the width of its container; in this case, form).
     this would help with centering the button */
  width: 45%;

  /* center the button. You can use a button group if you have more buttons */
  margin: 0 auto;

  /* center the text in the button, assuming it's not already centered by twitter */
  text-align: center;
}


.splash-title {
  padding-top:70px;
  -webkit-text-stroke: 1.5px #FFFFFF;
  -webkit-text-fill-color: darkturquoise;
  font-size: 200px;
  font-family: 'Grand Hotel', cursive;
  height:320px;
}

.inline {
  display:inline-block;
}
